<h1>Hjælp</h1>
<p>
  Du kan bruge siden som træningsdagbog
bare opret en bruger. Når du logger ind,
vil der komme en tekst boks op.
Her kan du beskrive din træning, når du er færdig trykker du gem.
Inde på din egen side kan du finde et link til den ude i siden,
del den med andre, måske din træner.
God fornøjelse.
</p>