<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Har du fået trænet ?</h1>
        <h3>skriv din træning log her<h3/>
        <h5>max 80 bogstaver<h5/>
        <%= render 'shared/micropost_form' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
  <h1>Din trænings dagbog</h1>

  <p>
    Her kan du lave din egen trænings dagbog :)
  </p>

  <%= link_to "Tilmeld dig her", signup_path, :class => "signup_button round" %>

<% end %>