<tr>
  <td class="micropost">
    <span class="content"><%= micropost.content %></span>
    <span class="timestamp">
      Oprettet <%= micropost.created_at %>
    </span>
  </td>
  <% if current_user?(micropost.user) %>
  <td>
   <%= link_to "Slet", micropost.destroy %>
  </td>
  <% end %>
</tr>
